body {
    font-family: 'Star Jedi', arial;
    /* background-image: url("./images/star_wars_bg.jpg"); */
    background-color: black;
    color: gold;
    display: flex;
    justify-content: center;
    align-content: center;
    /* height: 100vh; */
    margin-top: 10%;
    /* margin-left: 100px; */
}


#form input[type=text] {
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
    background-color: black;
    border: solid white 1px;
    border-radius: 5px;
    padding: 5px;
}

#form textarea {
    color: white;
    background-color: black;
    border: solid white 1px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
}

#publish {
    color: black;
    background-color: gold;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#form label {
    font-weight: bold;
}

::placeholder {
    color: white;
}

#all-post {
    overflow-wrap: break-word;
    /* inline-size: 200px; */
    /* width: 200px; */
}
